nav {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000001f;
}

.main_title {
  width: 200px;
  height: 24px;
  /* border: 1px solid black; */
  margin-left: 120px;
  cursor: pointer;
}
.main_title > img {
  width: 100%;
  height: 100%;
}
.main_title > P {
  color: #ab541f;
}
.login_button {
  width: 131px;
  height: 40px;
  border-radius: 10px;
  margin-right: 120px;
  overflow: hidden;
  background-color: #086885;
}
.login_button > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #ffffff;
  line-height: 14px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 2%;
  cursor: pointer;
}

/* Overlay background when popup is open */
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Popup box */
.popup {
  position: relative;
  width: 440px;
  height: 416px;
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  color: black;
}

.login_heading_main {
  width: 100%;
  height: 32px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading_title {
  width: 292px;
  height: 32px;
  /* border: 1px solid red; */
}

.heading_title > p {
  font-size: 24px;
  line-height: 32px;
  color: #161616;
  font-weight: 900;
}
.close_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* border: 1px solid blue; */
}
.close_icon > img {
  width: 100%;
  height: 100%;
}
.info {
  width: 300px;
  height: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #828282;
  font-size: 14px;
  margin-top: 5px;
}
.label_for_email {
  font-weight: 600;
  margin-top: 20px;
  height: 20px;
  width: 317px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  /* border: 1px solid black;   */
  color: #161616;
}
.input_email_main {
  width: 100%;
  height: 44px;
  background: #f9f9f9;
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border: 1px solid #0000001f;
}
.email_icon {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
}
.email_icon > img {
  width: 100%;
  height: 100%;
}

.input_type_email {
  width: 83.5%;
  height: 30px;
  /* border: 1px solid black; */
  margin-left: 12px;
}

.input_type_email > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #828282;
  font-size: 16px;
  background-color: transparent;
}

.input_type_email > input::placeholder {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.show_password_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* border: 1px solid black; */
}
.show_password_icon > img {
  width: 100%;
  height: 100%;
}

.login_button_form{
  width: 100%;
  height: 48px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 35px;
  background-color: #086885;
}
.login_button_form > button {
width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #ffffff;
  line-height: 20px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 2%;
  cursor: pointer;
}
.reset_password{
  width: 100%;
  height: 20px;
  /* border: 1px solid black; */
  margin-top: 20px;
}

.reset_password > p {
  text-align: center;
  color: #828282;
  font-size: 14px;
  font-weight: 500;
}

.reset_password > p >a{
  text-decoration: none;
  font-size: 16px;
  color: #AB541F;
  font-weight: 600;
}